# Copyright 2026 David Mitchell <git@themitchells.org>

# SSH key for connecting to APs (must be absolute path; service runs as root)
SSH_KEY=/home/youruser/.ssh/network_monitor

# InfluxDB
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=generate_with_openssl_rand_base64_32
INFLUXDB_ORG=YourOrg
INFLUXDB_BUCKET=netstats
INFLUXDB_ADMIN_TOKEN=generate_with_openssl_rand_base64_32

# Grafana
GRAFANA_ADMIN_PASSWORD=generate_with_openssl_rand_base64_32
