[Unit]
Description=Run network stats collector every 2 minutes
Requires=network-collector.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min

[Install]
WantedBy=timers.target
